{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="container-fluid bg-primary py-5 mb-5 hero-header">
    <div class="container py-5">
        <div class="row justify-content-center py-5">
            <div class="col-lg-10 pt-lg-5 mt-lg-5 text-center">
                <h1 class="display-3 text-white animated slideInDown">About Us</h1>
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb justify-content-center">
                        <li class="breadcrumb-item"><a href="/">Home</a></li>
                        <li class="breadcrumb-item text-white active" aria-current="page">About</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>
</div>
<!-- Navbar & Hero End -->


<!-- About Start -->
<div class="container-xxl py-5">
<div class="container">
<div class="row g-5">
    <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s" style="min-height: 400px;">
        <div class="position-relative h-100">
            <img class="img-fluid position-absolute w-100 h-100" src="{% static 'img/about.jpg' %}" alt="" style="object-fit: cover;">
        </div>
    </div>
    <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.3s">
        <h6 class="section-title bg-white text-start text-primary pe-3">About Us</h6>
        <h1 class="mb-4">Welcome to <span class="text-primary">Free Africa Tous& Safaris</span></h1>
        <p class="mb-4"> Embark on a journey of a lifetime with FreeAfrica Tours and Safaris, your premier gateway to extraordinary adventures on the mesmerizing continent of Africa. Immerse yourself in the wonders of Africa through our expertly curated tours, designed to provide unparalleled travel experiences. Whether you're seeking thrilling safaris, cultural immersion, or luxurious escapes, we are your trusted partner for unforgettable journeys. Join us in exploring the diverse landscapes and vibrant cultures that make Africa truly unique. At FreeAfrica, we don't just offer travel – we offer the promise of creating lasting memories with each step of your journey.</p>
        <p class="mb-4"> Our Mission:
            At FreeAfrica, our mission is to connect travelers with the diverse wonders of Africa through meticulously curated tours that go beyond the ordinary. We are dedicated to providing exceptional service, ensuring each journey is filled with discovery, excitement, and cultural enrichment. Our commitment is to deliver unparalleled travel experiences, making every adventure with us a momentous and unforgettable exploration of Africa's beauty, wildlife, and rich heritage. Join us as we strive to make your travel dreams a reality, one extraordinary journey at a time.</p>
        <div class="row gy-2 gx-4 mb-4">
            <div class="col-sm-6">
                <p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i>Personalized Experiences</p>
            </div>
            <div class="col-sm-6">
                <p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i>Customizable Packages</p>
            </div>
            <div class="col-sm-6">
                <p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i>Quality Accommodations</p>
            </div>
            <div class="col-sm-6">
                <p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i>Expert Tour Operators</p>
            </div>
            <div class="col-sm-6">
                <p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i>Latest Model Vehicles</p>
            </div>
            <div class="col-sm-6">
                <p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i>150 Premium City Tours</p>
            </div>
            <div class="col-sm-6">
                <p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i>Sustainable Tourism Practices</p>
            </div>
            <div class="col-sm-6">
                <p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i>24/7 Service</p>
            </div>

        </div>
        <a class="btn btn-primary py-3 px-5 mt-2" href="">Read More</a>
    </div>
</div>
</div>
</div>
<!-- About End -->


<!-- Team Start -->
<div class="container-xxl py-5">
<div class="container">
    <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
        <h6 class="section-title bg-white text-center text-primary px-3">Travel Guide</h6>
        <h1 class="mb-5">Meet Our Guide</h1>
    </div>
    <div class="row g-4">
        <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
            <div class="team-item">
                <div class="overflow-hidden">
                    <img class="img-fluid" src="{% static 'img/team-1.jpg' %}" alt="">
                </div>
                <div class="position-relative d-flex justify-content-center" style="margin-top: -19px;">
                    <a class="btn btn-square mx-1" href=""><i class="fab fa-facebook-f"></i></a>
                    <a class="btn btn-square mx-1" href=""><i class="fab fa-twitter"></i></a>
                    <a class="btn btn-square mx-1" href=""><i class="fab fa-instagram"></i></a>
                </div>
                <div class="text-center p-4">
                    <h5 class="mb-0">Guav Gharddamez</h5>
                    <small>Senior Guide</small>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
            <div class="team-item">
                <div class="overflow-hidden">
                    <img class="img-fluid" src="{% static 'img/team-2.jpg' %}" alt="">
                </div>
                <div class="position-relative d-flex justify-content-center" style="margin-top: -19px;">
                    <a class="btn btn-square mx-1" href=""><i class="fab fa-facebook-f"></i></a>
                    <a class="btn btn-square mx-1" href=""><i class="fab fa-twitter"></i></a>
                    <a class="btn btn-square mx-1" href=""><i class="fab fa-instagram"></i></a>
                </div>
                <div class="text-center p-4">
                    <h5 class="mb-0">Vibe Paul</h5>
                    <small>Guide</small>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
            <div class="team-item">
                <div class="overflow-hidden">
                    <img class="img-fluid" src="{% static 'img/team-3.jpg' %}" alt="">
                </div>
                <div class="position-relative d-flex justify-content-center" style="margin-top: -19px;">
                    <a class="btn btn-square mx-1" href=""><i class="fab fa-facebook-f"></i></a>
                    <a class="btn btn-square mx-1" href=""><i class="fab fa-twitter"></i></a>
                    <a class="btn btn-square mx-1" href=""><i class="fab fa-instagram"></i></a>
                </div>
                <div class="text-center p-4">
                    <h5 class="mb-0">Caleb Engineer</h5>
                    <small>Guide</small>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.7s">
            <div class="team-item">
                <div class="overflow-hidden">
                    <img class="img-fluid" src="{% static 'img/team-4.jpg' %}" alt="">
                </div>
                <div class="position-relative d-flex justify-content-center" style="margin-top: -19px;">
                    <a class="btn btn-square mx-1" href=""><i class="fab fa-facebook-f"></i></a>
                    <a class="btn btn-square mx-1" href=""><i class="fab fa-twitter"></i></a>
                    <a class="btn btn-square mx-1" href=""><i class="fab fa-instagram"></i></a>
                </div>
                <div class="text-center p-4">
                    <h5 class="mb-0">Sawaka Fetha</h5>
                    <small>Guide</small>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<!-- Team End -->
{% endblock content %}