{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container-fluidd primary py-5 mb-5 hero-header">
    <div class="container py-5">
        <div class="row justify-content-center py-5">
            <div class="col-lg-10 pt-lg-5 mt-lg-5 text-center">
                <h1 class="display-3 text-white mb-3 animated slideInDown">Free Africa Tours and Safaris</h1>
                                            <p class="fs-4 text-white mb-4 animated slideInDown">
                    Experience the best African adventures with FreeAfrica Tours and Safaris. Our curated safari
                    packages offer immersive wildlife encounters, luxury travel experiences, and unforgettable
                    cultural explorations, making us your go-to destination for premium African travel.
                </p>
                <div class="position-relative w-75 mx-auto animated slideInDown">
                    <input id="searchInput" class="form-control border-0 rounded-pill w-100 py-3 ps-4 pe-5" type="text" placeholder="E.g., Maasai Mara" autocomplete="off">
                    <div id="suggestion-box" class="list-group position-absolute w-100" style="z-index: 1000; display: none;"></div>
                    <button type="button" class="btn btn-primary rounded-pill py-2 px-4 position-absolute top-0 end-0 me-2" style="margin-top: 7px;">Search</button>
                </div>


            </div>
        </div>
    </div>
</div>
</div>
<!-- Navbar & Hero End -->

<!-- About Start -->
<div class="container-xxl py-5">
<div class="container">
    <div class="row g-5">
        <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s" style="min-height: 400px;">
            <div class="position-relative h-100">
                <img class="img-fluid position-absolute w-100 h-100" src="{% static 'img/about.jpg'  %}" alt=""
                    style="object-fit: cover;">
            </div>
        </div>
        <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.3s">
            <h6 class="section-title bg-white text-start text-primary pe-3">About Us</h6>
            <h1 class="mb-4">Welcome to <span class="text-primary">Free Africa Tous& Safaris</span></h1>
            <p class="mb-4"> Embark on a journey of a lifetime with FreeAfrica Tours and Safaris, your premier
                gateway to extraordinary adventures on the mesmerizing continent of Africa. Immerse yourself in
                the wonders of Africa through our expertly curated tours, designed to provide unparalleled
                travel experiences. Whether you're seeking thrilling safaris, cultural immersion, or luxurious
                escapes, we are your trusted partner for unforgettable journeys. Join us in exploring the
                diverse landscapes and vibrant cultures that make Africa truly unique. At FreeAfrica, we don't
                just offer travel – we offer the promise of creating lasting memories with each step of your
                journey.</p>
            <p class="mb-4"> Our Mission:
                At FreeAfrica, our mission is to connect travelers with the diverse wonders of Africa through
                meticulously curated tours that go beyond the ordinary. We are dedicated to providing
                exceptional service, ensuring each journey is filled with discovery, excitement, and cultural
                enrichment. Our commitment is to deliver unparalleled travel experiences, making every adventure
                with us a momentous and unforgettable exploration of Africa's beauty, wildlife, and rich
                heritage. Join us as we strive to make your travel dreams a reality, one extraordinary journey
                at a time.</p>
            <div class="row gy-2 gx-4 mb-4">
                <div class="col-sm-6">
                    <p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i>Personalized Experiences
                    </p>
                </div>
                <div class="col-sm-6">
                    <p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i>Customizable Packages</p>
                </div>
                <div class="col-sm-6">
                    <p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i>Quality Accommodations
                    </p>
                </div>
                <div class="col-sm-6">
                    <p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i>Expert Tour Operators</p>
                </div>
                <div class="col-sm-6">
                    <p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i>Latest Model Vehicles</p>
                </div>
                <div class="col-sm-6">
                    <p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i>150 Premium City Tours
                    </p>
                </div>
                <div class="col-sm-6">
                    <p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i>Sustainable Tourism
                        Practices</p>
                </div>
                <div class="col-sm-6">
                    <p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i>24/7 Service</p>
                </div>

            </div>
            <a class="btn btn-primary py-3 px-5 mt-2" href="">Read More</a>
        </div>
    </div>
</div>
</div>
<!-- About End -->

<!-- Service Start -->
<div class="container-xxl py-5">
<div class="container">
    <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
        <h6 class="section-title bg-white text-center text-primary px-3">Services</h6>
        <h1 class="mb-5">Our Services</h1>
    </div>
    <div class="row g-4">
        <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.1s">
            <div class="service-item rounded pt-3">
                <div class="p-4">
                    <i class="fa fa-3x fa-globe text-primary mb-4"></i>
                    <h5>Safari Excursions:</h5>
                    <p>Embark on thrilling safari excursions with FreeAfrica Tours and Safaris. Immerse yourself
                        in the heart of Africa's wild landscapes, encountering majestic wildlife in their
                        natural habitats. Our expert guides ensure an unforgettable adventure, combining
                        knowledge, safety, and an authentic safari experience./p>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.3s">
            <div class="service-item rounded pt-3">
                <div class="p-4">
                    <i class="fa fa-3x fa-hotel text-primary mb-4"></i>
                    <h5>Hotel Reservation</h5>
                    <p>Discover the perfect stay with FreeAfrica Tours and Safaris. Our seamless hotel
                        reservation service ensures a hassle-free booking experience. From cozy lodges to luxury
                        resorts, find accommodations that suit your style and budget. Elevate your African
                        adventure—book now with FreeAfrica Tours and Safaris for a memorable stay and
                        unparalleled convenience. </p>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.5s">
            <div class="service-item rounded pt-3">
                <div class="p-4">
                    <i class="fa fa-3x fa-user text-primary mb-4"></i>
                    <h5>Travel Guides</h5>
                    <p>Discover the perfect stay with FreeAfrica Tours and Safaris. Our seamless hotel
                        reservation service ensures a hassle-free booking experience. From cozy lodges to luxury
                        resorts, find accommodations that suit your style and budget. Elevate your African
                        adventure—book now with FreeAfrica Tours and Safaris for a memorable stay and
                        unparalleled convenience.</p>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.7s">
            <div class="service-item rounded pt-3">
                <div class="p-4">
                    <i class="fa fa-3x fa-cog text-primary mb-4"></i>
                    <h5>Cultural Immersions:</h5>
                    <p>Experience the rich tapestry of African cultures through our cultural immersion tours.
                        Engage with local communities, witness traditional rituals, and savor the flavors of
                        authentic cuisine. Our cultural journeys go beyond the surface, fostering meaningful
                        connections and a deep appreciation for Africa's diverse heritage.</p>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.1s">
            <div class="service-item rounded pt-3">
                <div class="p-4">
                    <i class="fa fa-3x fa-globe text-primary mb-4"></i>
                    <h5>Sport Safaris:</h5>
                    <p>For sports enthusiasts, our sport safaris offer a unique blend of adventure and passion.
                        Whether it's golfing against breathtaking backdrops, fishing in pristine waters, or
                        combining wildlife exploration with your favorite sports, we tailor experiences that
                        cater to your interests. Discover the thrill of sports in the heart of Africa. </p>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.3s">
            <div class="service-item rounded pt-3">
                <div class="p-4">
                    <i class="fa fa-3x fa-hotel text-primary mb-4"></i>
                    <h5>Safari Bookings:</h5>
                    <p> Simplify your travel planning with our hassle-free safari bookings. Choose from a
                        variety of expertly crafted packages, each offering a unique perspective of Africa.
                        Whether you're a solo traveler, a couple, or a group, our booking process is designed
                        for convenience, ensuring a smooth transition from inquiry to exploration.</p>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.5s">
            <div class="service-item rounded pt-3">
                <div class="p-4">
                    <i class="fa fa-3x fa-user text-primary mb-4"></i>
                    <h5>Travel Guides</h5>
                    <p>Enhance your journey with our knowledgeable travel guides who are passionate about
                        sharing the secrets and wonders of Africa. Our experienced guides are your companions in
                        exploration, providing insightful narratives, local expertise, and ensuring that every
                        step of your adventure is enriched with cultural anecdotes and hidden gems. Discover the
                        heart of Africa through the eyes of our dedicated travel guides, making your expedition
                        an educational and immersive experience.</p>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.7s">
            <div class="service-item rounded pt-3">
                <div class="p-4">
                    <i class="fa fa-3x fa-cog text-primary mb-4"></i>
                    <h5>Tour Transportation:</h5>
                    <p> Experience seamless and comfortable travel with our dedicated tour transportation
                        services. Our modern and well-maintained vehicles, including the latest models, ensure a
                        safe and enjoyable journey. Relax and focus on the adventure ahead as we take care of
                        your transportation needs with efficiency and reliability.Other tour operators arent
                        left out neither</p>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<!-- Service End -->

<!-- Destination Start -->
<div class="container-xxl py-5 destination">
<div class="container">
    <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
        <h6 class="section-title bg-white text-center text-primary px-3">Destination</h6>
        <h1 class="mb-5">Popular Destination</h1>
    </div>
    <div class="row g-3">
        <div class="col-lg-7 col-md-6">
            <div class="row g-3">
                <div class="col-lg-12 col-md-12 wow zoomIn" data-wow-delay="0.1s">
                    <a class="position-relative d-block overflow-hidden" href="">
                        <img class="img-fluid" src="{% static 'img/destination-1.jpg'  %}" alt="">
                        <div class="bg-white text-danger fw-bold position-absolute top-0 start-0 m-3 py-1 px-2">
                            30% OFF</div>
                        <div
                            class="bg-white text-primary fw-bold position-absolute bottom-0 end-0 m-3 py-1 px-2">
                            Masai Mara National Reserve</div>
                    </a>
                </div>
                <div class="col-lg-6 col-md-12 wow zoomIn" data-wow-delay="0.3s">
                    <a class="position-relative d-block overflow-hidden" href="">
                        <img class="img-fluid" src="{% static 'img/destination-2.jpg'  %}" alt="">
                        <div class="bg-white text-danger fw-bold position-absolute top-0 start-0 m-3 py-1 px-2">
                            25% OFF</div>
                        <div
                            class="bg-white text-primary fw-bold position-absolute bottom-0 end-0 m-3 py-1 px-2">
                            Amboseli National Park </div>
                    </a>
                </div>
                <div class="col-lg-6 col-md-12 wow zoomIn" data-wow-delay="0.5s">
                    <a class="position-relative d-block overflow-hidden" href="">
                        <img class="img-fluid" src="{% static 'img/destination-3.jpg'  %}" alt="">
                        <div class="bg-white text-danger fw-bold position-absolute top-0 start-0 m-3 py-1 px-2">
                            35% OFF</div>
                        <div
                            class="bg-white text-primary fw-bold position-absolute bottom-0 end-0 m-3 py-1 px-2">
                            Serengeti National Park</div>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-lg-5 col-md-6 wow zoomIn" data-wow-delay="0.7s" style="min-height: 350px;">
            <a class="position-relative d-block h-100 overflow-hidden" href="">
                <img class="img-fluid position-absolute w-100 h-100" src="{% static 'img/destination-4.jpg'  %}" alt=""
                    style="object-fit: cover;">
                <div class="bg-white text-danger fw-bold position-absolute top-0 start-0 m-3 py-1 px-2">20% OFF
                </div>
                <div class="bg-white text-primary fw-bold position-absolute bottom-0 end-0 m-3 py-1 px-2">Tsavo
                    National Parks </div>
            </a>
        </div>
    </div>
</div>
</div>
<!-- Destination Start -->
<!-- my Destination Start add-->
</div>
<div class="row g-3">
<div class="col-lg-7 col-md-6">
    <div class="row g-3">
        <div class="col-lg-12 col-md-12 wow zoomIn" data-wow-delay="0.1s">
            <a class="position-relative d-block overflow-hidden" href="">
                <img class="img-fluid" src="{% static 'img/destination-1.jpg'  %}" alt="">
                <div class="bg-white text-danger fw-bold position-absolute top-0 start-0 m-3 py-1 px-2">30% OFF
                </div>
                <div class="bg-white text-primary fw-bold position-absolute bottom-0 end-0 m-3 py-1 px-2"> Masai
                    Mara National Reserve</div>
            </a>
        </div>
        <div class="col-lg-6 col-md-12 wow zoomIn" data-wow-delay="0.3s">
            <a class="position-relative d-block overflow-hidden" href="">
                <img class="img-fluid" src="{% static 'img/destination-2.jpg'  %}" alt="">
                <div class="bg-white text-danger fw-bold position-absolute top-0 start-0 m-3 py-1 px-2">25% OFF
                </div>
                <div class="bg-white text-primary fw-bold position-absolute bottom-0 end-0 m-3 py-1 px-2">
                    Amboseli National Park </div>
            </a>
        </div>
        <div class="col-lg-6 col-md-12 wow zoomIn" data-wow-delay="0.5s">
            <a class="position-relative d-block overflow-hidden" href="">
                <img class="img-fluid" src="{% static 'img/destination-3.jpg'  %}" alt="">
                <div class="bg-white text-danger fw-bold position-absolute top-0 start-0 m-3 py-1 px-2">35% OFF
                </div>
                <div class="bg-white text-primary fw-bold position-absolute bottom-0 end-0 m-3 py-1 px-2">
                    Serengeti National Park</div>
            </a>
        </div>
    </div>
</div>
<div class="col-lg-5 col-md-6 wow zoomIn" data-wow-delay="0.7s" style="min-height: 350px;">
    <a class="position-relative d-block h-100 overflow-hidden" href="">
        <img class="img-fluid position-absolute w-100 h-100" src="{% static 'img/destination-4.jpg'  %}" alt=""
            style="object-fit: cover;">
        <div class="bg-white text-danger fw-bold position-absolute top-0 start-0 m-3 py-1 px-2">20% OFF</div>
        <div class="bg-white text-primary fw-bold position-absolute bottom-0 end-0 m-3 py-1 px-2">Tsavo National
            Parks </div>
    </a>
</div>
</div>
</div>
</div>
<!-- Destination Start -->

<!-- Package Start -->
<div class="container-xxl py-5">
<div class="container">
    <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
        <h6 class="section-title bg-white text-center text-primary px-3">Packages</h6>
        <h1 class="mb-5">Awesome Packages</h1>
    </div>
    <div class="row g-4 justify-content-center">
        <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
            <div class="package-item">
                <div class="overflow-hidden">
                    <img class="img-fluid" src="{% static 'img/package-1.jpg'  %}" alt="">
                </div>
                <div class="d-flex border-bottom">
                    <small class="flex-fill text-center border-end py-2"><i
                            class="fa fa-map-marker-alt text-primary me-2"></i>Maasai mara N.R</small>
                    <small class="flex-fill text-center border-end py-2"><i
                            class="fa fa-calendar-alt text-primary me-2"></i>4 days</small>
                    <small class="flex-fill text-center py-2"><i class="fa fa-user text-primary me-2"></i>2
                        Person</small>
                </div>
                <div class="text-center p-4">
                    <h3 class="mb-0">$ 850.00</h3>
                    <div class="mb-3">
                        <small class="fa fa-star text-primary"></small>
                        <small class="fa fa-star text-primary"></small>
                        <small class="fa fa-star text-primary"></small>
                        <small class="fa fa-star text-primary"></small>
                        <small class="fa fa-star text-primary"></small>
                    </div>
                    <p>Famous for its annual wildebeest migration, the Masai Mara is a wildlife paradise with
                        abundant flora and fauna. Visitors can witness the "Big Five" (lion, elephant, buffalo,
                        leopard, and rhinoceros) and enjoy hot air balloon safaris.</p>
                    <div class="d-flex justify-content-center mb-2">
                        <a href="#" class="btn btn-sm btn-primary px-3 border-end"
                            style="border-radius: 30px 0 0 30px;">Read More</a>
                        <a href="#" class="btn btn-sm btn-primary px-3"
                            style="border-radius: 0 30px 30px 0;">Book Now</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
            <div class="package-item">
                <div class="overflow-hidden">
                    <img class="img-fluid" src="{% static 'img/package-2.jpg'  %}" alt="">
                </div>
                <div class="d-flex border-bottom">
                    <small class="flex-fill text-center border-end py-2"><i
                            class="fa fa-map-marker-alt text-primary me-2"></i>Amboseli N.P</small>
                    <small class="flex-fill text-center border-end py-2"><i
                            class="fa fa-calendar-alt text-primary me-2"></i>5 days</small>
                    <small class="flex-fill text-center py-2"><i class="fa fa-user text-primary me-2"></i>2
                        Person</small>
                </div>
                <div class="text-center p-4">
                    <h3 class="mb-0">$1005.00</h3>
                    <div class="mb-3">
                        <small class="fa fa-star text-primary"></small>
                        <small class="fa fa-star text-primary"></small>
                        <small class="fa fa-star text-primary"></small>
                        <small class="fa fa-star text-primary"></small>
                        <small class="fa fa-star text-primary"></small>
                    </div>
                    <p>Renowned for its stunning views of Mount Kilimanjaro, Amboseli National Park offers
                        excellent opportunities to observe elephants in their natural habitat. The park is also
                        known for its diverse birdlife and other wildlife.</p>
                    <div class="d-flex justify-content-center mb-2">
                        <a href="#" class="btn btn-sm btn-primary px-3 border-end"
                            style="border-radius: 30px 0 0 30px;">Read More</a>
                        <a href="#" class="btn btn-sm btn-primary px-3"
                            style="border-radius: 0 30px 30px 0;">Book Now</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
            <div class="package-item">
                <div class="overflow-hidden">
                    <img class="img-fluid" src="{% static 'img/package-3.jpg'  %}" alt="">
                </div>
                <div class="d-flex border-bottom">
                    <small class="flex-fill text-center border-end py-2"><i
                            class="fa fa-map-marker-alt text-primary me-2"></i>Serengeti</small>
                    <small class="flex-fill text-center border-end py-2"><i
                            class="fa fa-calendar-alt text-primary me-2"></i>4 days</small>
                    <small class="flex-fill text-center py-2"><i class="fa fa-user text-primary me-2"></i>3
                        Person</small>
                </div>
                <div class="text-center p-4">
                    <h3 class="mb-0">$1200.00</h3>
                    <div class="mb-3">
                        <small class="fa fa-star text-primary"></small>
                        <small class="fa fa-star text-primary"></small>
                        <small class="fa fa-star text-primary"></small>
                        <small class="fa fa-star text-primary"></small>
                        <small class="fa fa-star text-primary"></small>
                    </div>
                    <p>While a significant portion is in Tanzania, the Kenyan side of the Serengeti is equally
                        spectacular. It's part of the annual wildebeest migration route and offers excellent
                        game viewing throughout the year.</p>
                    <div class="d-flex justify-content-center mb-2">
                        <a href="#" class="btn btn-sm btn-primary px-3 border-end"
                            style="border-radius: 30px 0 0 30px;">Read More</a>
                        <a href="#" class="btn btn-sm btn-primary px-3"
                            style="border-radius: 0 30px 30px 0;">Book Now</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<!-- Package End -->

<div class="d-flex justify-content-center mb-2">
<a href="/www.freeafricatoursandsafaris.com/index.html" class="btn btn-primary px-5 py-2" style="border-radius: 50px; font-size: 20px;">*
    See all packages *</a>
</div>

<!-- Booking Start -->
<div class="container-xxl py-5 wow fadeInUp" data-wow-delay="0.1s">
<div class="container"></div>
<div class="booking p-5">
    <div class="row g-5 align-items-center">
        <div class="col-md-6 text-white">
            <h6 class="text-white text-uppercase">Bookings & Resavations</h6>
            <h1 class="text-white mb-4">Online Booking</h1>
            <p class="mb-4">Plan your African adventure effortlessly with our user-friendly online booking
                system. Customize your itinerary, secure your spot, and receive instant confirmation—all in just
                a few clicks. Visit [YourWebsiteURL.com] and embark on your hassle-free journey today!</p>
            <p class="mb-4">Experience stress-free planning with our secure online booking. Tailor your safari
                or cultural immersion, enjoy transparent pricing, and book confidently with our encrypted
                payment gateway. Your African escape is just a click away—visit our website now!</p>
            <a class="btn btn-outline-light py-3 px-5 mt-2" href="">Read More</a>
        </div>

        <div id="booking" class="section">

            <div class="booking-form">
                <div class="form-header">
                    <h1>Get your free Quote to book</h1>
                </div>
                <form>
                    <div class="form-group">
                        <input class="form-control" type="text" placeholder="Enter your name">
                        <span class="form-label">Full Name</span>
                    </div>

                    <div class="form-group">
                        <input class="form-control" type="text" placeholder="Country of origin,">
                        <span class="form-label">Country</span>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <input class="form-control" type="date" required>
                                <span class="form-label">arrival</span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <input class="form-control" type="date" required>
                                <span class="form-label">Depature</span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <select class="form-control" required>
                                    <option value selected hidden>no of rooms</option>
                                    <option>1</option>
                                    <option>2</option>
                                    <option>3</option>
                                </select>
                                <span class="select-arrow"></span>
                                <span class="form-label">Rooms</span>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <select class="form-control" required>
                                    <option value selected hidden>no of adults</option>
                                    <option>1</option>
                                    <option>2</option>
                                    <option>3</option>
                                </select>
                                <span class="select-arrow"></span>
                                <span class="form-label">Adults</span>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <select class="form-control" required>
                                    <option value selected hidden>no of children</option>
                                    <option>0</option>
                                    <option>1</option>
                                    <option>2</option>
                                </select>
                                <span class="select-arrow"></span>
                                <span class="form-label">Children</span>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <select class="form-control" required>
                                    <option value selected hidden>no of rooms</option>
                                    <option>1</option>
                                    <option>2</option>
                                    <option>3</option>
                                </select>
                                <span class="select-arrow"></span>
                                <span class="form-label">Rooms</span>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <select class="form-control" required>
                                    <option value selected hidden>no of adults</option>
                                    <option>1</option>
                                    <option>2</option>
                                    <option>3</option>
                                </select>
                                <span class="select-arrow"></span>
                                <span class="form-label">Adults</span>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <select class="form-control" required>
                                    <option value selected hidden>no of children</option>
                                    <option>0</option>
                                    <option>1</option>
                                    <option>2</option>
                                </select>
                                <span class="select-arrow"></span>
                                <span class="form-label">Children</span>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <select class="form-control" required>
                                    <option value selected hidden>no of rooms</option>
                                    <option>1</option>
                                    <option>2</option>
                                    <option>3</option>
                                </select>
                                <span class="select-arrow"></span>
                                <span class="form-label">Rooms</span>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <select class="form-control" required>
                                    <option value selected hidden>no of adults</option>
                                    <option>1</option>
                                    <option>2</option>
                                    <option>3</option>
                                </select>
                                <span class="select-arrow"></span>
                                <span class="form-label">Adults</span>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <select class="form-control" required>
                                    <option value selected hidden>no of children</option>
                                    <option>0</option>
                                    <option>1</option>
                                    <option>2</option>
                                </select>
                                <span class="select-arrow"></span>
                                <span class="form-label">Children</span>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <input class="form-control" type="email" placeholder="Enter your Email">
                                <span class="form-label">Email</span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <input class="form-control" type="tel" placeholder="Enter you Phone">
                                <span class="form-label">Phone</span>
                            </div>
                        </div>
                    </div>
                    <div class="form-btn">
                        <button class="submit-btn">Book Now</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</div>

<!-- Process Start -->
<div class="container-xxl py-5">
<div class="container">
    <div class="text-center pb-4 wow fadeInUp" data-wow-delay="0.1s">
        <h6 class="section-title bg-white text-center text-primary px-3">Process</h6>
        <h1 class="mb-5">3 Easy Steps</h1>
    </div>
    <div class="row gy-5 gx-4 justify-content-center">
        <div class="col-lg-4 col-sm-6 text-center pt-4 wow fadeInUp" data-wow-delay="0.1s">
            <div class="position-relative border border-primary pt-5 pb-4 px-4">
                <div class="d-inline-flex align-items-center justify-content-center bg-primary rounded-circle position-absolute top-0 start-50 translate-middle shadow"
                    style="width: 100px; height: 100px;">
                    <i class="fa fa-globe fa-3x text-white"></i>
                </div>
                <h5 class="mt-4">Choose A Destination</h5>
                <hr class="w-25 mx-auto bg-primary mb-1">
                <hr class="w-50 mx-auto bg-primary mt-0">
                <p class="mb-0">Select your ideal adventure with FreeAfrica Tours—customize your safari,
                    cultural immersion, or luxury escape in just a click</p>
            </div>
        </div>
        <div class="col-lg-4 col-sm-6 text-center pt-4 wow fadeInUp" data-wow-delay="0.3s">
            <div class="position-relative border border-primary pt-5 pb-4 px-4">
                <div class="d-inline-flex align-items-center justify-content-center bg-primary rounded-circle position-absolute top-0 start-50 translate-middle shadow"
                    style="width: 100px; height: 100px;">
                    <i class="fa fa-dollar-sign fa-3x text-white"></i>
                </div>
                <h5 class="mt-4">Pay Online</h5>
                <hr class="w-25 mx-auto bg-primary mb-1">
                <hr class="w-50 mx-auto bg-primary mt-0">
                <p class="mb-0">Experience transparent and secure online payment, ensuring a hassle-free
                    process. Book with confidence for an instant confirmation.</p>
            </div>
        </div>
        <div class="col-lg-4 col-sm-6 text-center pt-4 wow fadeInUp" data-wow-delay="0.5s">
            <div class="position-relative border border-primary pt-5 pb-4 px-4">
                <div class="d-inline-flex align-items-center justify-content-center bg-primary rounded-circle position-absolute top-0 start-50 translate-middle shadow"
                    style="width: 100px; height: 100px;">
                    <i class="fa fa-plane fa-3x text-white"></i>
                </div>
                <h5 class="mt-4">Travel Today</h5>
                <hr class="w-25 mx-auto bg-primary mb-1">
                <hr class="w-50 mx-auto bg-primary mt-0">
                <p class="mb-0">Your African adventure begins instantly with FreeAfrica Tours. Choose, pay, and
                    embark on your journey today. Book now for an unforgettable experience!</p>
            </div>
        </div>
    </div>
</div>
</div>
<!-- Process end -->

<!-- Team Start -->
<div class="container-xxl py-5">
<div class="container">
    <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
        <h6 class="section-title bg-white text-center text-primary px-3">Travel Guide</h6>
        <h1 class="mb-5">Meet Our Guide</h1>
    </div>
    <div class="row g-4">
        <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
            <div class="team-item">
                <div class="overflow-hidden">
                    <img class="img-fluid" src="{% static 'img/team-1.jpg'  %}" alt="">
                </div>
                <div class="position-relative d-flex justify-content-center" style="margin-top: -19px;">
                    <a class="btn btn-square mx-1" href=""><i class="fab fa-facebook-f"></i></a>
                    <a class="btn btn-square mx-1" href=""><i class="fab fa-twitter"></i></a>
                    <a class="btn btn-square mx-1" href=""><i class="fab fa-instagram"></i></a>
                </div>
                <div class="text-center p-4">
                    <h5 class="mb-0">Guav Gharddamez</h5>
                    <small>Senior Guide</small>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
            <div class="team-item">
                <div class="overflow-hidden">
                    <img class="img-fluid" src="{% static 'img/team-2.jpg'  %}" alt="">
                </div>
                <div class="position-relative d-flex justify-content-center" style="margin-top: -19px;">
                    <a class="btn btn-square mx-1" href=""><i class="fab fa-facebook-f"></i></a>
                    <a class="btn btn-square mx-1" href=""><i class="fab fa-twitter"></i></a>
                    <a class="btn btn-square mx-1" href=""><i class="fab fa-instagram"></i></a>
                </div>
                <div class="text-center p-4">
                    <h5 class="mb-0">Vibe Paul</h5>
                    <small>Guide</small>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
            <div class="team-item">
                <div class="overflow-hidden">
                    <img class="img-fluid" src="{% static 'img/team-3.jpg'  %}" alt="">
                </div>
                <div class="position-relative d-flex justify-content-center" style="margin-top: -19px;">
                    <a class="btn btn-square mx-1" href=""><i class="fab fa-facebook-f"></i></a>
                    <a class="btn btn-square mx-1" href=""><i class="fab fa-twitter"></i></a>
                    <a class="btn btn-square mx-1" href=""><i class="fab fa-instagram"></i></a>
                </div>
                <div class="text-center p-4">
                    <h5 class="mb-0">Caleb Engineer</h5>
                    <small>Guide</small>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.7s">
            <div class="team-item">
                <div class="overflow-hidden">
                    <img class="img-fluid" src="{% static 'img/team-4.jpg'  %}" alt="">
                </div>
                <div class="position-relative d-flex justify-content-center" style="margin-top: -19px;">
                    <a class="btn btn-square mx-1" href=""><i class="fab fa-facebook-f"></i></a>
                    <a class="btn btn-square mx-1" href=""><i class="fab fa-twitter"></i></a>
                    <a class="btn btn-square mx-1" href=""><i class="fab fa-instagram"></i></a>
                </div>
                <div class="text-center p-4">
                    <h5 class="mb-0">Sawaka Fetha</h5>
                    <small>Guide</small>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<!-- Team End -->

<!-- Testimonial Start -->
<div class="container-xxl py-5 wow fadeInUp" data-wow-delay="0.1s">
<div class="container">
    <div class="text-center">
        <h6 class="section-title bg-white text-center text-primary px-3">Testimonial</h6>
        <h1 class="mb-5">Our Clients Say!!!</h1>
    </div>
    <div class="owl-carousel testimonial-carousel position-relative">
        <div class="testimonial-item bg-white text-center border p-4">
            <img class="bg-white rounded-circle shadow p-1 mx-auto mb-3" src="{% static 'img/testimonial-1.jpg'  %}"
                style="width: 80px; height: 80px;">
            <h5 class="mb-0">Joseph Jatelo</h5>
            <p>Manaus, Brazil</p>
            <p class="mb-0">"Unforgettable Safari Experience!"
                "Our FreeAfrica Tours and Safaris adventure was nothing short of spectacular. From the thrilling
                wildlife encounters to the personalized service, every moment exceeded our expectations. The
                seamless online booking made it easy to choose, pay, and embark on our dream safari. A truly
                unforgettable experience—we can't wait to travel with FreeAfrica Tours again!"</p>
        </div>
        <div class="testimonial-item bg-white text-center border p-4">
            <img class="bg-white rounded-circle shadow p-1 mx-auto mb-3" src="{% static 'img/testimonial-2.jpg'  %}"
                style="width: 80px; height: 80px;">
            <h5 class="mb-0">Greg Mtukutu</h5>
            <p>Kuala Lampur, Malaysia</p>
            <p class="mt-2 mb-0">"Exceptional Service and Unparalleled Adventures!"
                "FreeAfrica Tours and Safaris delivered an exceptional travel experience. The easy online
                booking process allowed us to choose our preferred destination seamlessly. Paying online was
                secure and hassle-free. From there, our journey began—a perfect blend of thrilling safaris and
                cultural immersion. Thank you for making our adventure unforgettable!"</p>
        </div>
        <div class="testimonial-item bg-white text-center border p-4">
            <img class="bg-white rounded-circle shadow p-1 mx-auto mb-3" src="{% static 'img/testimonial-3.jpg'  %}"
                style="width: 80px; height: 80px;">
            <h5 class="mb-0">Korne Wafacebook</h5>
            <p>Kingston, Jamaica</p>
            <p class="mt-2 mb-0"> "Effortless Booking, Unmatched Excitement!"
                "Booking with FreeAfrica Tours was effortless. Choosing our dream destination was a joy, and the
                secure online payment system added a layer of convenience. What impressed us most was the
                ability to travel on the same day. FreeAfrica Tours turned our travel dreams into reality, and
                we can't wait for our next adventure!"</p>
        </div>
        <div class="testimonial-item bg-white text-center border p-4">
            <img class="bg-white rounded-circle shadow p-1 mx-auto mb-3" src="{% static 'img/testimonial-4.jpg'  %}'  %}"
                style="width: 80px; height: 80px;">
            <h5 class="mb-0"> Shaddy Macocha</h5>
            <p>Kampala, Uganda</p>
            <p class="mt-2 mb-0"> </p>
        </div>
    </div>
</div>
</div>
<!-- Testimonial End -->
{% endblock %}